<!DOCTYPE HTML>  
<html>
	<head>                                                    
		<meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=0;">
		<link rel="stylesheet" href="swipe.css" type="text/css" />  
		<link rel="stylesheet" href="../book/book.css" type="text/css" /> 
		<meta name="viewport" content="width=device-width" />     
		 <script type="text/javascript" src="../src/xui.js"></script>  
		<script type="text/javascript" src="../src/swiper.js"></script>
		<script type="text/javascript">
		domReady(function()
		{
			var sw = new Swiper({
				pageNumber: 4				
			});
			
		});
		
		
		</script>		
	</head>
	<body>   
		<div id="wrap">
			<div id="scroller">  
				
			  
			
			</div>	 
		 </div>  
		
	</body>
</html>